.after-encrypt {
}

.graph-form .input-number {
     width: 90px;
 }

.graph-form .input-label {
    width: 50px;
}

#plotBtn, #btn-clarify {
    color: aliceblue;
}

.nav-index {
    text-align: center;
}

.nav-index li {
    text-align: left;
}

.nav-index > div > div {
    margin-top: 20px;
}